# Este ejercicio nos ayuda a compreder mejor el funcionamiento de Apache Spark koalas


# Ejercicio Práctico de Koalas

In [1]:
import findspark
findspark.init()

import pandas as pd
import pyspark

In [2]:
import numpy as np
import pandas as pd
#import databricks.pandas as ps
import pyspark.pandas as ps

c:\Users\osval\anaconda3\envs\ProcesBigdata\lib\site-packages\pyspark\pandas\__init__.py:50: UserWarning: 'PYARROW_IGNORE_TIMEZONE' environment variable was not set. It is required to set this environment variable to '1' in both driver and executor sides if you use pyarrow>=2.0.0. pandas-on-Spark will set it for you but it does not work if there is a Spark context already launched.
  warnings.warn(

### Funciones básicas

In [3]:
pser = pd.Series([1, 3, 5, np.nan, 6, 8]) 

## Crea una serie de Koalas con [1, 3, 5, np.nan, 6, 8]

kser = ps.Series(pser)

## Pasa la serie de pandas pser a Koalas con el nombre de kser

In [4]:
## Ordena kser por el index

In [5]:
pdf = pd.DataFrame({'A': np.random.rand(5),
                    'B': np.random.rand(5)})

## Genera un Dataframe de Koalas con el pdf de pandas y llamalo kdf

### Visualización de datos

In [6]:
## Describe los datos de kdf

In [7]:
## Ordena los datos de kdf por la columna B

In [8]:
## Transpon los datos de kdf

### Selección

In [9]:
## Selecciona las varaibles A y B de Kdf

In [10]:
## Selecciona las filas 1, 2 de kdf

In [11]:
## Selecciona las filas 0, 1 y 2 de la variable B

### Aplicando funciones de Python a Koalas

In [12]:
## Aplica la funcion de Python de np.cumsum a kdf

In [13]:
## Eleva al cuadrado los valores de kdf

### Agrupando datos

In [14]:
## Obten la suma de los valores al agrupar por A y por B

### Generando gráficos

In [15]:
# This is needed for visualizing plot on notebook
%matplotlib inline

In [16]:
speed = [0.1, 17.5, 40, 48, 52, 69, 88]
lifespan = [2, 8, 70, 1.5, 25, 12, 28]
index = ['snail', 'pig', 'elephant',
         'rabbit', 'giraffe', 'coyote', 'horse']

kdf = ps.DataFrame({'speed': speed,
                   'lifespan': lifespan}, index=index)

## Genera un grafico de barras con kdf y matplotlib

In [17]:
kdf = ps.DataFrame({
    'sales': [3, 2, 3, 9, 10, 6, 3],
    'signups': [5, 5, 6, 12, 14, 13, 9],
    'visits': [20, 42, 28, 62, 81, 50, 90],
}, index=pd.date_range(start='2019/08/15', end='2020/03/09',
                       freq='M'))

## Genera un grafico de areas con kdf y matplotlib

### Utilizando SQL en ps

In [18]:
kdf = ps.DataFrame({'year': [1990, 1997, 2003, 2009, 2014],
                    'pig': [20, 18, 489, 675, 1776],
                    'horse': [4, 25, 281, 600, 1900]})

In [19]:
## Con una consulta SQL selecciona los datos donde pig sea mayor que 100

In [20]:
pdf = pd.DataFrame({'year': [1990, 1997, 2003, 2009, 2014],
                    'sheep': [22, 50, 121, 445, 791],
                    'chicken': [250, 326, 589, 1241, 2118]})

In [21]:
## Haz un inner join entre kdf y pdf en la vriable year, selecciona el pig y el chicken
## ordena los datos por pig y chicken

### Trabajando con PySpark

In [22]:
kdf = ps.DataFrame({'A': [1, 2, 3, 4, 5], 'B': [10, 20, 30, 40, 50]})

In [23]:
## muestra los datos
kdf

   A   B
0  1  10
1  2  20
2  3  30
3  4  40
4  5  50